/*Css*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto:300,400&display=swap');
html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


/*estilo: Eliminacion de subrayar texto*/

a:hover {
    text-decoration: none;
}


/*Estilo Scroll*/

::-webkit-scrollbar {
    /*width: 7px;
    /*background: black;*/
    width: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    /*background: indianred;
    border-radius: 2px;*/
    /* background: #f92c8b;
    border-radius: 10px;*/
    background-color: #000000;
}

::-webkit-scrollbar-thumb:hover {
    /*background: #4741d7;*/
    background-color: indianred;
}


/*Barra de navegacion*/

.navbar {
    background-color: #070707;
    overflow: hidden;
    top: 0px;
    z-index: 2;
    /**/
    /*position: sticky;
    /* Safari 
    position: -webkit-sticky;*/
    line-height: 25px;
}

.navbar-toggler i {
    color: #fff;
    font-size: 25px;
}

.navbar-toggler .fa-times {
    display: none;
}

.navbar-toggler.menu-open .fa-bars {
    display: none;
}

.navbar-toggler.menu-open .fa-times {
    display: block;
}

.navbar-nav {
    padding: 20px;
    text-align: center;
    width: 60%;
    margin: auto;
    min-height: 10vh;
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    transition: opacity .5s;
    border-bottom: 2px solid #ccc;
}

.nav-link:hover {
    /*estilo: color segucundario al hacer Click en las opciones de navbar*/
    color: indianred;
    border-bottom: 1px solid indianred;
}


/*estilo: descripcion persona*/

.signature {
    color: #5e5d5d;
    text-align: center;
    user-select: none;
    font-family: 'aileron', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}


/*Informarcion personal + Imgaen central*/

.about-content {
    /*estilo: Poner contenedor por debajo de la imgen central*/
    display: flex;
    /*Direccion del contenedor*/
    flex-direction: column;
}

.about-description {
    width: 100%;
    background-color: rgb(248, 248, 248);
    padding: 30px;
    outline: 5px solid rgba(56, 65, 71, 0.5);
    outline-offset: -5px;
    order: 2;
    margin-top: 0px;
    font-size: 21px;
}

.about-image {
    order: 1;
}

.about-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


/*Manipulacion de galeria de imagenes*/

.section-heading {
    position: relative;
    display: block;
    margin-bottom: 100px;
}

.section-heading::before {
    content: "";
    position: absolute;
    background-color: rgba(56, 65, 71, 0.5);
    width: 1px;
    height: 50px;
    top: 53px;
    border-radius: 8px;
}


/*Linea vertical + arreglo de titulo: Trabajo*/

.heading-title {
    font-family: 'Playfair Display SC', sans-serif;
    text-transform: uppercase;
    color: #384147;
    font-size: 37px;
}


/*Efecto de movimiento en las imagenes*/

.lightbox-content {
    position: relative;
    overflow: hidden;
}

.lightbox-content img {
    transition: transform 2s;
}

.lightbox-content:hover img {
    transform: scale(1.2);
}


/*Efecto de sombreado en las imagenes*/

.lightbox-content a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: background-color .5s;
}

.lightbox-content a:hover::before {
    background-color: rgba(0, 0, 0, .2);
}


/*Estilo de pie de pagina*/

footer {
    background-color: #292e30;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

footer h5 {
    color: #fff;
}

.text-muted {
    color: rgba(255, 255, 255, .7) !important;
}


/*Efecto de btn en footer*/

.btn {
    display: inline-block;
    background: #444444;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #ffffff;
    overflow: hidden;
    position: relative;
}

.btn:hover i {
    transform: scale(1.3);
    color: indianred;
    /*color: #f1f1f1;*/
}

.btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}